#home_page{

    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.highlight {
    background: #d0f0c0; /* A light green */
    font-weight: bold;
}
.greyed {
    color: grey;
}