@font-face {
    font-family: "Roboto";
    src: url('../assets/fonts/Lexend-Regular.ttf');
    font-display: swap; 

}

/* Mobile-First Layout */
.landing-container {
  height: 100vh; /* Full screen */
  width: 100%;
  font-family: "Roboto";
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Pushes content apart */
  box-sizing: border-box;
  background: var(--bg-main);
}

/* Hero Section */
.hero-section {
  margin-top: 60px; /* Space from top */
  flex-grow: 1;     /* Take up available space */

}

.logo-mark {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: -2px;
  margin-bottom: 24px;
  border: 2px solid white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Circle */
}

.hero-title {
  font-size: 4rem; /* Massive text */
  line-height: 0.95; /* Taut leading */
  font-weight: 800;
  text-transform: uppercase;
  color: var(--text-primary);
  margin-bottom: 16px;
  letter-spacing: -1px;
  text-align: left;
}

.hero-subtitle {
  font-size: 1.1rem;
  color: var(--text-secondary);
  max-width: 80%;
  line-height: 1.4;
  text-align: left;
}

/* Action Zone */
.action-zone {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Space between buttons */
  padding-bottom: 40px; /* Space for iPhone Home Bar */
}

/* Button Styles (Global) */
.btn-primary {
  width: 100%;
  padding: 20px;
  border-radius: var(--radius-full);
  background-color: var(--text-primary); /* White button */
  color: var(--bg-main); /* Black text */
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: transform 0.1s;
}

.btn-primary:active {
  transform: scale(0.98); /* Click effect */
}

.btn-secondary {
  width: 100%;
  padding: 20px;
  border-radius: var(--radius-full);
  background-color: transparent;
  color: var(--text-primary); /* White text */
  border: 1px solid var(--border-subtle);
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}