#login_page{
    padding: 2%;
    width: 90%;
    height: 70%;
    margin-top: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#login_page>form{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3%;
}

#login_page>form>input{
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 6px;
    text-align: center;
    font-size: larger;
}

