/* .auth_links>a,button,span{
    margin: 5px;
} */

.auth_links>a{
    color: rgb(230, 240, 248);
}

/* nav>a{
    margin-left: 5px;
    color: rgb(230, 240, 248);
} */

nav{
    background-color: rgb(6, 35, 61);
    text-decoration: none;
    width: 100%;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: space-between;
}