.number-picker-main {
    height: 60px; 
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; 
}

.number-picker-main::-webkit-scrollbar { 
    display: none; 
}

.number-picker-main > p {
    height: 20px; 
    line-height: 20px; 
    margin: 0;
    padding: 0;
    scroll-snap-align: center;
    scale: 0.6;
    opacity: 0.5;
    transition: all 100ms ease; 
    flex-shrink: 0; 
    font-weight: bold;
    cursor: pointer;
}

.number-picker-main > .num-snapped {
    scale: 1;
    opacity: 1;
 
}

.number-picker-main > .num-padding {
    opacity: 0;
    pointer-events: none;
}

.number-picker-main > .tilt-up{
    transform: rotateX(60deg);
}

.number-picker-main > .tilt-down{
    transform: rotateX(60deg);
}