#set-table{
    background-color: var(--bg-highlight);
    border: 2px solid var(--border-subtle);
    border-radius: var(--radius-lg);
    padding: 5px;
    border-spacing: 0;
    font-size: larger;

}

.set-table-head{
    padding: 5px;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    margin-bottom: 5px;
}

.set-table-body-row{
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-lg);
    background-color: var(--bg-card);
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    align-items: center;
}

.set-table-reps-coloum{
    border-radius: 10px 0px 0px 10px;
}

.set-table--coloum{
    border-radius: 10px 0px 0px 10px;
}



.set-table-comment-div{
    height: 0px; 
    overflow: hidden;
    transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 12px;
    grid-area: 2/1/3/4;

}
.set-table-comment-div.visible{
    height: 60px; /* Slides down to this height */
    margin-top: 5px;
}



.set-table-remove-button{
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-full);
}

.set-table-remove-button.remove-btn-sucess{
    background-color: rgba(0, 128, 0, 0.322);
    border: 1px solid green;
    
}

.set-table-reps-coloum,.set-table-weight-coloum{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}




