.workout_div{
    padding: 20px;
    height: 100%;
    margin-top: 15%;
}

.workout_div_header{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2.5fr 0.5fr;
    justify-items: start;
    align-items: center;
}

.exercise_div_header{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2.5fr 0.5fr;
    justify-items: start;
    align-items: center;
}



#add_exercise_form>input{
    border: 0.5px, solid, black;
    border-radius: 5px;
    font-size: larger;
    padding: 6px;
}

.exercise_component{
    overflow-y: auto;
}

.add_set_form>form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add_set_form>form>fieldset{
    width: 270px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

#set_table>thead>tr>th{
    text-align: center;
}