.workout_div{
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.workout_div_header{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2.5fr 0.5fr;
    justify-items: start;
    align-items: center;
    padding: 10px;
}

.exercise_div_header{
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3.5fr 0.5fr;
    justify-items: start;
    align-items: center;
}

.exercise_component_div{
    flex: 1;
}

#add_exercise_form>input{
    border: 0.5px, solid, black;
    border-radius: 5px;
    font-size: larger;
    padding: 6px;
}

.exercise_component{
    overflow-y: auto;
    padding: 10px; 
    margin-bottom: 15px;
    background-color: var(--bg-card);
    border:1px solid var(--border-subtle);
    border-radius: var(--radius-lg);
}




#set_table>thead>tr>th{
    text-align: center;
}

.lucide-loader{
    animation: loader-animation 1.3s linear infinite;
}

@keyframes loader-animation {
   from {transform: rotate(0turn);}
   to {transform: rotate(1turn);} 
}

.exercise-item-header{
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: start;
}

.exercise-remove-btn,.add_set_form>button{
    background-color: var(--bg-card);
    border-radius: var(--radius-lg);
    border: 1px solid var(--border-subtle);
    color: var(--text-primary);
    animation: remove-btn-ani cubic-bezier(0.175, 0.885, 0.32, 1.275) 600ms;
}

.workout_div_header>button, .exercise-remove-btn, .add_set_form>button{
    transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 300ms;
}


.exercise-remove-btn:active, .workout_div_header>button:active, .add_set_form>button:active{
    box-shadow: 0 0 30px rgba(173, 173, 173, 0.445);
    transform: scale(0.8) ;
}

@keyframes remove-btn-ani {
    from {
            opacity: 0%;
            transform: scale(0.7);
        }
    to {
            opacity: 100%;
            transform: scale(1);
        }
}

.exercise-modal{
    padding: 30px;
    width: 60%;
    background-color: var(--bg-highlight);
    border: var(--border-subtle);
    border-radius: var(--radius-lg);
    box-shadow: 0 0 7px rgba(99, 99, 99, 0.644);
    transition: all 400ms;
}

.exercise-modal>h2{
    color: var(--text-primary);
}

.exercise-modal>.modal-btns{
    display: flex;
    gap: 10px;

}



.exercise-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}


.exercise-modal[open]::backdrop {
    animation: fade-in 100ms ease-out forwards;
}


.exercise-modal.dia-close{
    opacity: 0;
}

.exercise-modal.dia-close::backdrop {
    animation: fade-out 100ms ease-in forwards;
}

/* Clearer Keyframes */
@keyframes fade-in {
    from {
        opacity: 0;
        backdrop-filter: blur(0px);
    }
    to {
        opacity: 1;
        backdrop-filter: blur(5px);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
        backdrop-filter: blur(5px);
    }
    to {
        opacity: 0;
        backdrop-filter: blur(0px);
    }
}

.remove-btn-error,.add-set-btn.Error{
    background-color: rgba(255, 0, 0, 0.39);
    border: 1px solid red;
}

.remove-btn-sucess,.add-set-btn.Sucess{
    background-color: rgba(0, 128, 0, 0.329);
    border: 1px solid green;
}

.add_set_form{
    display: grid;
    grid-template-columns: 3.5fr 0.5fr;
    grid-template-rows: 1fr;
    justify-items: start;
    align-items: center;
}

