
#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#routes{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media(min-width: 768px ){
  #routes{
    max-width: 800px;
    flex-direction: row;
  }
}

