
#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(5, 18, 31);
}

nav{
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#routes{
  height: 95%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media(min-width: 768px ){
  #routes{
    max-width: 800px;
    flex-direction: row;
  }
}

