
#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

nav{
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#routes{
  height: 95%;
  width: 100%;

}

